@keyframes animateQuotes {
    0% {
        opacity: 0;
    }

    50%{
     
        opacity: 0.5;
    }

    100%{
        opacity: 1;
    }
}


@keyframes translateFromLeft{
    0% {
        transform: translateX(-15rem);
        opacity: 0;
    }

    50%{
        transform: translateX(-5rem);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes translateFromRight{
    0% {
        transform: translateX(15rem);
        opacity: 0;
    }

    50%{
        transform: translateX(5rem);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes translateFromTop{
    0% {
        transform: translateY(15rem);
        opacity: 0;
    }

    50%{
        transform: translateY(5rem);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes translateFromBottom{
    0% {
        transform: translateY(-15rem);
        opacity: 0;
    }

    50%{
        transform: translateY(-5rem);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

/* End Animation */




*{
    padding : 0;
    margin : 0;
}

body{
    overflow-x: hidden;
}

/* Header and Nav-links  */
header{
    border-top: 1px solid #B01212;
}

a{
    text-decoration: none;
    color : white;
}

a:hover{
    text-decoration: none;
    color :rgb(255, 255, 255);
}

.poppins{
    font-family: 'Poppins', sans-serif;
}

.display-4{
    font-family: 'Raleway', sans-serif;
    font-weight : 500;
}

.call-assistance {
    font-size : 20px;
    font-weight : 900;
    font-family : 'Open Sans', sans-serif;
    letter-spacing: 2px;

}

.nav-item a {
    color : #B01212;
}

.nav-link {
    font-size: 15px;
    text-transform: uppercase;
    padding : 5px;
    margin-left : 10px;
    font-family : 'Open Sans', sans-serif;  
    position: relative;
    top :  35px;
    letter-spacing: 5px;
}

.responsive-menu{
    display: none;
}

.nav-link:hover{
    border-bottom : 1px solid #B01212;
    transition: all 0.2s ease-in;
}

.nav-link:active{
    color : #0000;
    font-weight : 700;
    border-bottom : 1px solid #B01212;
}


/* End */

/* Responsive Menu List */

.responsive-menu-list{
    display: none;
}

/* End Responsive Menu List */

/* Carousel */
 .first{
   background-image: url("../img/cover_page/first-slide.png");
   background-position: top;
   background-size: cover;

}

 .second{
    background-image: url("../img/cover_page/second-slide.png");
    background-position: top;
    background-size: cover;

}
 .third{
    background-image: url("../img/cover_page/third-slide.png");
    background-position: top;
    background-size: cover;

}

.carousel-item{
    height : 35rem;    
}

.carousel-caption{
    text-transform: capitalize;
    width : 300px;
    font-family: 'Raleway', sans-serif;
     animation: animateQuotes 1.5s ease-out;
    color :rgba(175, 18, 18);
    position : relative;
    top : 30%;
    left : 70%;
}

.carousel-caption cite{
    font-weight : 400;
    font-size : 15px;
    letter-spacing: 2px;
    
}

/* End Carousel */

/* Booking */

.booking {
    margin: 70px 0px;
}

.booking-option{
    cursor: pointer;
    color : #B01212;
    transition: all ease-out 1s;
}

.card-title {
    text-transform: uppercase;
    font-family : 'Open Sans', sans-serif;
}

.card-text{
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    letter-spacing: 2px;
    width : 100%;
}

.btn-family-affair{
    border : 2px solid #B01212;
    padding : 10px 15px;
    text-transform: uppercase;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: small;
    font-weight : 600;
    color : inherit;

}

.btn-family-affair:hover{
    background-color: transparent;
    border-color: rgb(253, 253, 253);
}

.booking-option:hover{
    background-image: linear-gradient(90deg, rgba(175, 18, 18, 0.932), rgba(175, 18, 18, 0.979));
    color :rgb(253, 253, 253);
}

/* End Booking */

/* Call us */
.call-banner {
    margin : 70px 0px;
    background-image: linear-gradient(rgba(175, 18, 18, 0.932), rgba(175, 18, 18, 0.979));
    clip-path : polygon(5% 0, 100% 0, 95% 100%, 0 100%);
    color :rgb(253, 253, 253);
}
.call-us {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-weight: 300;
}

.call-us-intro{
    text-transform: uppercase;
}

.material-icons .md-48{
    font-size: 48px;
}

/* End Call Us */

/* Our Services */
.our-services{
    margin : 70px 0px;
    padding : 20px 0px;
}
.services-card{
    background-position: center center;
    background-size: cover;
    height: 400px;
    width : 200px;
    transition: all 0.8s ease-in-out;
    box-shadow: 5px 5px 10px rgb(172, 169, 169);
    cursor: pointer;
    color :rgba(175, 18, 18, 0.8);
    place-content: center;
}

.classes{
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../img/blog_pics/Relationship-Coach.png");
}

.classes:hover{
    background-image: linear-gradient(rgba(175, 18, 18, 0.8), rgba(175, 18, 18, 0.8)), url("../img/blog_pics/Relationship-Coach.png");
}

.coach{
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../img/blog_pics/coach.png");
}

.coach:hover{
    background-image: linear-gradient(rgba(175, 18, 18, 0.8), rgba(175, 18, 18, 0.8)), url("../img/blog_pics/coach.png");
}

.crisis{
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../img/blog_pics/crisis.png");
}

.crisis:hover{
    background-image: linear-gradient(rgba(175, 18, 18, 0.8), rgba(175, 18, 18, 0.8)), url("../img/blog_pics/crisis.png");
    background-position : center right;
}

.general-counseling{
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../img/blog_pics/General_Counseling.png");
}

.general-counseling:hover{
    background-image: linear-gradient(rgba(175, 18, 18, 0.8), rgba(175, 18, 18, 0.8)), url("../img/blog_pics/General_Counseling.png");
    background-position : center right;
}

.services-card:hover{
    background-position: center left;
    background-size: 150% 150%;
    color: rgba(255, 255, 255, 0.7);
}

.contact-link{
    text-decoration: none;
    text-transform: uppercase;
    color :rgb(253, 253, 253);

}

.contact-link:hover, .contact-link-active{
    background-color: rgba(175, 18, 18, 0.8);
    color: rgb(255, 255, 255) !important;
}

/* End Services */

/* Meet Me */
.profile-pix{
    width : 85%;
    height : 80%;
    opacity: 0;
    
}

.animateProfile-pix{
    opacity: 1;
    animation: translateFromLeft 1s ease-in;
}

.profile-title{
    font-size : 35px;
    text-transform: uppercase;
}
.profile-text{
    text-transform: capitalize;
    font-size : 18px;
}

.btn-meet-me{
    border : 1px solid;
    background-color: rgba(175, 18, 18, 0.932);
    color :rgb(255, 255, 255);
    padding : 10px 15px;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    text-transform: uppercase;
    font-weight : 600;
}

/* End Meet me */

/* About */
.my-testimony {
   height : auto;
}
.my-testimony-img{
   background-image: url(../img/blog_pics/mr_kayode.png);
   background-position : top;
   background-size: cover;
   height : 600px;
}

.my-testimony-body{
    height : 600px;  
    font-family: 'Poppins', sans-serif;
}

.my-testimony-title, .my-purpose-title{
    font-family: 'Poppins', sans-serif;
    font-weight : 900;
    text-transform: uppercase;
}

.my-purpose{
    transform : translateY(-20%);
    background-color:rgb(253, 253, 253)
}

hr{
    border-color :rgba(220, 53, 57, 1);
    width : 80px;   

}

.my-purpose-text{
    font-family: 'Poppins', sans-serif;
}

.my-purpose-img{
    background-image: url(../img/blog_pics/mr_kayode.png);
    background-position : top;
    background-size: cover;
    height : 300px;
}
/* End About  */

/* Contact */
.contact-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)), url(../img/cover_page/contact.png);
    background-position : top;
    background-size: cover;
    height : 325px;
    place-items: center;
}

.contact-title{
    font-size : 70px;
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;
    transform: translateY(100%);
}

.contact-forms {
    transform : translateY(-10%);
    background-color: inherit;
}
.contact-list{
    padding : 5px;
}

.contact-link {
    font-size : 17px;
    font-weight: 400;
    padding :  5px 15px;
    font-family: 'Poppins', sans-serif;
}


.contact-form-title{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight : 600;
    font-size : 35px;
    letter-spacing: .3px;
}

.contact-form-text{
    font-family : 'Raleway', sans-serif;
    letter-spacing: 2px;
}

#Request_form .input{
    border : none;
    border-bottom : 1px solid;
    border-radius : 0px !important;
    font-family : 'Raleway', sans-serif;
}


/* End Contact */
/* Footer */
footer{
    margin-top : 50px;
    height : auto;
    background-image: linear-gradient(to right bottom, #b01212ce, #b01212c5), url(../img/cover_page/pexels-migs-reyes-4205505\ \(1\).jpg);
    background-size: cover;
    background-position: top;
}

.footer-social{
    text-transform:capitalize;
    letter-spacing: 3px;
}

.footer-social i {
    font-size: 3rem;
}

.copyright{
    text-transform: capitalize;

}

/* End Footer */

/* @media screen and (max-width: 1287px){
    .nav-link {
        letter-spacing: 3px;
     }
 
     .first,.second,.third{
         background-position: left center;
         background-size: cover;
     }
 
     .carousel-caption{
         text-transform: capitalize;
         width : 350px;
         transform: translate(45rem, -10rem) !important;
         font-family: 'Raleway', sans-serif;
         font-weight : 700;
         font-size : larger;
         animation : animateQuotesLarge 1.5s ease-in;
     }
 
     .carousel-caption cite{
         font-weight : 500;
         font-size : 15px;
         letter-spacing: 2px;
     }
 
     .footer-logo img{
         width : 200px;
     }
 
     footer{
         height: auto;
     }
} */

@media only screen and (max-width : 1139px){
    .nav-link {
       letter-spacing: 3px;
    }

    .first,.second,.third{
        background-position: left center;
        background-size: cover;
    }

    .carousel-caption{
        text-transform: capitalize;
        padding : 5px;
        width : 30%;
        color :rgb(255, 255, 255);
        position: relative;
        top : 60%;
        left : 50%;
        font-family: 'Raleway', sans-serif;
        font-weight : 300;
        font-size : larger;
         animation : animateQuotes 1.5s ease-in; 



        
    }

    .carousel-caption cite{
        font-size : 15px;
        letter-spacing: 2px;
    }

    .footer-logo img{
        width : 200px;
    }

    footer{
        height: auto;
    }


}

@media only screen and (max-width : 768px){

    body{
        width: auto;
        overflow-x: hidden;
    }

    header{
        height: auto;
    }

    nav{
        display : none;
    }

    .responsive-menu{
        display: block;
        font-size: 3rem; 
        color:#B01212;
    }

    .responsive-menu-list{
        height : 0;
        display: list-item;
        overflow: hidden;
        opacity : 1;
        transform : translateX(-10rem);
    }

    .show-menu{
        height: auto;
        transform: translateX(0px);
        transition: all 0.5s ease-in;
    }

    .responsive-item{
        padding : 5px;    
        margin : 5px;    
    }

    .navlink{
        padding: 5px;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: medium;
    }

    .navlink:hover{
        border : none;
    }

    .carousel-item{
        height : 20rem;
    }

    .carousel-caption{
        text-transform: capitalize;
        width : 30%;
        background-image: linear-gradient(90deg, #b01212ce, #b01212ce);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation : animateQuotes 1.5s ease-in;
        font-family: 'Raleway', sans-serif;
        position: relative;
        top : 20%;
        left : 68%;
    }

    .carousel-caption cite{
        font-size : 10px;
    }   

    footer{
        height: auto;
    }

    .footer-social i {
        font-size: 1.5rem;
    }

}

@media only screen and (max-width : 576px){
     body{
        width: auto;
    }

    nav{
        display : none;
    }

    .responsive-menu{
        display: block;
        font-size: 3rem; 
        color:#B01212;
    }

    .logo{
        width : 200px;
        position: relative;
        top : 10px;
    }

    .my-testimony-img{
        height : 400px;
    }

    .my-testimony-body{
        height : auto;
    }

    .carousel-caption{
        text-transform: capitalize;
        width : 100%;
        animation : animateQuotes 1.5s ease-in;
        background-image: linear-gradient(90deg, #fff, #ffff);
        font-family: 'Raleway', sans-serif;
        position: relative;
        top : 40%;
        left : 0px;
        right : 5px;
        color : #fff;
      
    }

    .carousel-caption cite{
        font-size : 12px;
        font-weight: 700;
        letter-spacing: 0;
    }

    .my-purpose{
        transform : translateY(0%);
    }

    .contact-banner {
        background-image: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)), url(../img/cover_page/contact.png);
        background-position : top;
        background-size: cover;
        place-items: center;
    }

    .contact-title{
        font-size: 55px;
    }

    .contact-list{
        padding : 0px;
    }

    
    .contact-link {
        font-size : 15px;
        font-weight: 400;
        padding :  5px;
        font-family: 'Poppins', sans-serif;
    }

    .footer-social i {
        font-size: 1.5rem;
    }
    
    .footer-logo{
        justify-items: center;
    }

    .footer-text{
        font-size: 14px;
        letter-spacing: 1px;
    }

}
